.main{
  background-image: url('../../public/tierra.png');
  height: 100vh;
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 10px;
  position: relative;
}
.end{
  background-image: url('../../public/netherack.png') !important;
}
.damage{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgb(255,38,0);
  background: linear-gradient(90deg, rgba(255,38,0,0.44870448179271705) 0%, rgba(255,0,0,0.10696778711484589) 5%, rgba(255,255,255,0) 53%, rgba(255,0,0,0.11537114845938379) 95%, rgba(255,0,0,0.36747198879551823) 100%);
}

@keyframes aparition {
  0%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}

@media (max-width: 750px) {
  .main{
    flex-wrap: wrap;
  }
} 
/* .navegador{
  width: 100vw;
  height: 5vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url('../../public/pasto.jpg');
}



.logo, .rdclogo{
  height: 3vh;
  width: auto;
  margin-left: 15px;
}

.editor{
  width: 100vw;
  min-height: 100%;
  height: auto;
  justify-self: flex-end;
  align-self: flex-end;
  display: flex;
  position: relative;
  
  background-image: url('../../public/tierra.png');
}
.codigo{
  width: 70%;
  height: auto;
  position: relative;
}
.texto{
  position: absolute;
  width: 98%;
  appearance:none;
  height: 98%;
  z-index: 2;
  outline: none;
  border: none;
  color: transparent;
  resize: none;
  overflow-y: hidden;
  font-size: 16px !important;
  line-height: 1em;
  top: 1%;
  left: 1%;
  padding: 30px;
  padding-top: 3px;
  background-color: transparent;
  caret-color: #FFF;
}
.texto::after{
  color: #FFF !important;
}
.vacio{
  color: #FFF;
}
.archivo{
  width: 100%;
  cursor: pointer;
}

.numeracion{
  color: #FFF;
  text-align: center;
  padding: 1%;
  color: rgb(0, 255, 221);
  width: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.numeracion p{
  line-height: 1em;
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-weight: 600;
}

.crear{
  height: 5vh;
  width: 50px;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.5em;
  color: rgb(255, 166, 1);
  cursor: pointer;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ejecutar{
  background-color: transparent;
  color: rgb(27, 190, 27);
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.formulario{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario input{
  height: 80%;
  outline: none;
  padding: 10px;
  border: 1px transparent solid;
  background-color: #5c422dbc;
  color: #FFF;
  border-radius: 2px;

}

.archivo{
  justify-self: center;
  align-self: center;
  text-align: center;
  color: #FFF;
  font-size: 1em;
  font-weight: 300;
}

.guardar{
  background-color: transparent;
  color: rgb(255, 166, 1);
  outline: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.output{
  width: 30%;
  height: 95vh;
  position: relative;
}

.rdc{
  color: rgb(255, 166, 1);
}

.build{
  background-color: rgba(0, 0, 0, 0.326);
  width: 98%;
  height: 48%;
  padding: 20px;
  position: absolute;
  left: 1%;
  bottom: 1%;
  right: 1%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.building{
  width: 100%;
  height: 100%;
  position: relative;
}
.message{
  background-color: rgba(0, 0, 0, 0.326);
  width: 98%;
  height: 48%;
  padding: 20px;
  position: absolute;
  left: 1%;
  top: 1%;
  right: 1%;
  margin: auto;
}


.back{
  width: 98%;
  height: 98%;
  position: absolute;
  z-index: 1;
  left: 1%;
  top: 1%;
  padding: 1%;
  color: rgb(255, 255, 255);
  line-height: 1em;
  padding-left: 30px;
  padding-top: 3px;
  background-color: rgba(0, 0, 0, 0.389);
}

.back span{
  font-size: 16px !important;
}

.reservada{
  color: rgb(255, 166, 1) !important;
}

.digito{
  color: rgb(0, 239, 219);
}

.operador{
  color: red;
}

.crafteo{
  position: absolute;
  width: 30%;
  height: auto;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.nuevo{
  height: 4vh;
  width: auto;
} */